<!DOCTYPE html>
<html>

<head>
    <title>登录后创建会议</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/fileinput.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link href="/static/css/form_builder/animate.min.css" rel="stylesheet">
    <link href="/static/css/form_builder/summernote.css" rel="stylesheet">
  
    <link href="/static/css/form_builder/style.min862f.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/javascript/bootstrap.min.js"></script>
    <script src="/static/js/javascript/fileinput.min.js"></script>
    <script src="/static/js/javascript/bootstrap-datetimepicker.min.js"></script>
    <script src="/static/js/javascript/distpicker.data.min.js"></script>
    <script src="/static/js/javascript/distpicker.min.js"></script>
    <script src="/static/js/javascript/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="/static/js/javascript/zh.js"></script>
    <script src="/static/js/jquery-ui.min.js"></script>
    <script src="/static/css/form_builder/beautifyhtml.js"></script>
    <script src="/static/js/javascript/index.js"></script>
</head>

<body style="background-color:#f7f5f6;">
   <div class="col-md-12">
    <div class="form-group">
        <label class="col-sm-2 control-label">姓名：</label>
        <div class="col-sm-7">
            <input type="text" class="form-control" placeholder="请输入你的姓名">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">电话：</label>
        <div class="col-sm-7">
            <input type="text" class="form-control" placeholder="请输入你的电话">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">部门：</label>
        <div class="col-sm-7">
            <input type="text" class="form-control" placeholder="请输入你所在的部门">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">资产类型：</label>
        <div class="col-sm-7">
            <select class="form-control"></select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">品牌：</label>
        <div class="col-sm-7">
            <select class="form-control"></select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">型号：</label>
        <div class="col-sm-7">
            <select class="form-control"></select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">SN码：</label>
        <div class="col-sm-7">
            <input type="text" class="form-control" placeholder="请输入你的serial number，位于机器背部">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">快速服务码：</label>
        <div class="col-sm-7">
            <input type="text" class="form-control" placeholder="如您的设备为dell品牌 请输入快速服务代码">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">资产编号：</label>
        <div class="col-sm-7">
            <input type="text" class="form-control" placeholder="如您的设备上还保留有公司资产编号，请输入">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">工作地点：</label>
        <div class="col-sm-7">
            <select class="form-control"></select>
        </div>
    </div>
</div>
</body>

</html>
